<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlogTextEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6194D3E91C5B00E700603EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6194D4001C5B00E800603EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6194D40B1C5B00E800603EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
